// manually set config file path
includeConfig "$launchDir/params.config"

profiles {
  conda {
    conda.enabled = true
  }
}

process {
	withLabel: Sierra {
		module = 'apps/binapps/anaconda3/2023.09'
	}
	withLabel: SCAPE {
		module = 'apps/bioinf:apps/gcc/htslib/1.13:apps/anaconda3/5.2.0'
	}
	withLabel: prepare_utr_region {
		module = 'apps/bioinf:apps/gcc/htslib/1.13:apps/anaconda3/5.2.0'
	}
	withLabel: polyApipe {
		module = 'apps/binapps/anaconda3/2019.07'
	}
	withLabel: apa_annotation {
		module = 'apps/binapps/anaconda3/2023.09'
	}
}
