// Define parameters used in the main Nextflow script called main.nf

params {
    // GENERAL PARAMETERS

    // Outdir paths
	results_folder = "$launchDir/results"

    // Modules dir
	modulesdir = "$launchDir/modules"

    // program paths
	polyApipe_dir = "/mnt/mr01-home01/m57549qz/newInstall/polyApipe"
	SCAPE_dir = "/mnt/mr01-home01/m57549qz/newInstall/SCAPE"
	Sierra_dir = "/mnt/mr01-home01/m57549qz/scratch/APA_analysis_method/bin/rscript"
    // LIST CHANNEL INPUTS
	sample_name = ""
	method = ""
	num_cores = 4
	data_dir = ""
	apa_input = ""
	barcode_file = ""
	job_id = ""
	gene_dir = ""
	annotation_dir = ""
	genome_version = "" // "mm10" SCAPE_bed_file = "" // "/mnt/mr01-home01/m57549qz/scratch/apa/SCAPE_output/mm10_utr.bed"
	reference_file = "" // "/mnt/mr01-home01/m57549qz/scratch/apa/reference/refdata-gex-mm10-2020-A/genes/genes.gtf"
	distance_method = "" //c("spearman", "cosine", "Jaccard", "pearson", "none", "norm", "euclidean")
	cluster_method = "" //c("hclust", "pam-wss", "pam-asw", "kmeans-wss", "kmeans-asw", "hdbscan", "kmeans-sparse", "zinbmm")
	distance = 0
	metatools_output = "metatools_output"
}
